.container {
    height: 100vh;
    margin: 0;
    display: flex; 
    background-color: #b1aca2;
   background-image: url("https://64.media.tumblr.com/a867fda74d117e8afc28532b8d348ef3/511aa1048e6b62a4-92/s500x750/7372b9c078066585a271139f253fa421e0a4b0a9.gif");
}

.box1 {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.box1_1 {
    height: 50%;
    width: 100%;
    background-color: #ff00f2;
    background-image: url("https://media1.tenor.com/m/ljQlKKa_iwwAAAAC/i-love-my-girlfriend.gif");
    background-size: 100% 100%;

}

.box1_2 {
    height: 50%;
    width: 100%;
    background-image: url("https://64.media.tumblr.com/a867fda74d117e8afc28532b8d348ef3/511aa1048e6b62a4-92/s500x750/7372b9c078066585a271139f253fa421e0a4b0a9.gif");
    background-color: #ff0707;
    background-size: 100% 100%;
}

.box2 {
    height: 100%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box2_1 {
    background-color: #25cbd6;
    grid-column: 1 / 3;
    grid-row: 1;
    background-image: url("https://i.pinimg.com/originals/fe/8b/0b/fe8b0bdd63a3f18afef5b0570a2a5c4c.gif");
    background-size: 100% 100%;

}

.box2_2 {
    background-color: #0044ff;
    grid-column: 3;
    grid-row: 1;
    background-image: url("https://i.makeagif.com/media/5-11-2016/f6dWPn.gif")
}

.box2_3 {
    background-color: #b1aca2;
    grid-column: 1;
    grid-row: 2;
    background-image: url("https://64.media.tumblr.com/a867fda74d117e8afc28532b8d348ef3/511aa1048e6b62a4-92/s500x750/7372b9c078066585a271139f253fa421e0a4b0a9.gif");
    background-size: 100% 100%;
}

.box2_3_1 {
    background-color: #ffb9b9;
    grid-column: 2 / 3;
    grid-row: 2;
    background-image: url("https://i.chzbgr.com/full/6599150592/hD3288F52/homers-drinking-problem");
    background-size: 100% 100%;
}

.box2_3_2 {
    background-color: #7e0800;
    grid-column: 1 / 2;
    grid-row: 3;
    background-image: url("https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/19/1463144464-ss.gif");
    background-size: 100% 100%;
}

.box2_3_3 {
    background-color: #33ff00;
    grid-column: 2 / 3;
    grid-row: 3;
    background-image: url("https://platform.vox.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/6484329/millhouse.gif");
    background-size: 100% 100%;
}

.box2_4 {
    background-color: #1f0000;
    grid-column: 3;
    grid-row: 2 / 4;
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/05/Simpsons.gif");
    background-size: 100% 100%;
}