body{
margin:0;
font-family:Arial, sans-serif;
text-align:center;
background:#111;
color:white;
}

.bg{
position:fixed;
inset:0;
background:url("1b72a8a0-722c-11ed-848f-c11f601a4be9.jpg") center/cover no-repeat;
z-index:-2;
opacity:0.25;
}

.title{
font-size:60px;
margin-top:40px;
color:white;
}

.maps{
display:flex;
justify-content:center;
gap:40px;
margin:50px;
flex-wrap:wrap;
}

.map-card{
cursor:pointer;
transition:.3s;
}

.map-card img{
width:260px;
border-radius:15px;
box-shadow:0 0 15px black;
}

.map-card:hover{
transform:scale(1.07);
}

.btn{
padding:12px 25px;
background:red;
border:none;
color:white;
font-size:18px;
cursor:pointer;
border-radius:8px;
margin:20px;
}

.btn:hover{
background:darkred;
}

.small{
font-size:14px;
padding:8px 15px;
}

.game-header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
}

#timer{
font-size:35px;
}

.image-container{
display:flex;
justify-content:center;
margin-top:20px;
}

#gameContainer{
position:relative;
display:inline-block;
}

#gameImage{
width:100%;
max-width:1000px;
border-radius:15px;
}

#waldoHitbox{
position:absolute;
width:4%;
height:4%;
transform:translate(-50%,-50%);
cursor:pointer;
}

table{
margin:40px auto;
border-collapse:collapse;
width:60%;
}

th,td{
border:1px solid white;
padding:10px;
}

th{
background:red;
}