
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0a1c14; 
    color: white;
    text-align: center;
}


.flag {
    display: flex;
    height: 70px;
}

.yellow { background-color: #f8d41c; flex: 1; }
.green  { background-color: #006A40; flex: 1; }
.red    { background-color: #c12b25; flex: 1; }

header {
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 18px;
    color: black;
    background-color: #f8d41c; /* geltona */
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}


nav a:hover {
    background-color: #006A40;
    transform: scale(1.08);
}


.flex {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.box {
    background-color: #123f2a;
    padding: 25px 40px;
    border-radius: 20px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.box:hover {
    background-color: #1d5e41;
    transform: scale(1.1);
}


.box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


img {
    width: 60%;
    border-radius: 15px;
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #000;
    color: white;
}


@keyframes rgbGlow {
    0%   { text-shadow: 0 0 10px #ff0000; }
    33%  { text-shadow: 0 0 10px #00ff00; }
    66%  { text-shadow: 0 0 10px #0000ff; }
    100% { text-shadow: 0 0 10px #ff0000; }
}

h1, h2 {
    animation: rgbGlow 4s infinite alternate ease-in-out;
}

